[Desktop Entry]
Name=DinoGame
Exec=/home/kuzco/mmm/sa/DinoGame/mmm
Icon=/home/kuzco/mmm/sa/DinoGame/resources/icon.png
Type=Application
Categories=Game;
