[Desktop Entry]
Name=DinoGame
Exec=/home/kuzco/DinoGame/DinoGame/mmm
Icon=/home/kuzco/DinoGame/DinoGame/resources/icon.png
Type=Application
Categories=Game;
